
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 760px) {
    body {
        background: whitesmoke;
        color: black;
        text-align: center;
        max-width: 100%;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }

    h1 {
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 0.15em;
        font-size: 3em;
        line-height: 1.2;
        transform: translateY(52%);
    }
      
    #toggle {
        display: none;
    }
      
      /**
        Hamburger
      **/
    .hamburger {
        position: absolute;
        top: 5em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
    }
      
    .hamburger div {
        position: relative;
        width: 3em;
        height: 7px;
        border-radius: 3px;
        background-color: #f8982b;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }
      
      /**
      Nav Styles
      **/
    .nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: peru;
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        opacity: 80%;
    }
    .nav-wrapper {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }
    nav {
        text-align: left;
        margin-left: 25%;
    }
    nav a {
        position: relative;
        text-decoration: none;
        font-size: 2em;
        display: inline-block;
        margin-top: 1.25em;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
    }
    nav a:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
    }
    nav a:hover {
        color: white;
    }
    nav a:hover:before {
        height: 100%;
    }
      
      /**
      Animations
      **/
    #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }
    #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }
    #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }
      
    #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
    }

    #hello {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
    }
    
    #home-textContent {
        font-size: 15px;
        padding: 5%;
        line-height: 17px;

    }

    #footby{
        font-size: 11px;
        text-align: center;
        position: fixed;
        bottom: 0;
        height: 8px;
        padding: 40px;
        font-weight: 100;
    }

    #container{
        /* margin-top: 150px; */
        line-height: 50px;
    }

    #loginWithG{
        display: inline-block;
        background: white;
        color: #444;
        width: 250px;
        height: 30px;
        border-radius: 5px;
        border: thin solid #888;
        box-shadow: 1px 1px 1px grey;
        white-space: nowrap;
        vertical-align: middle;
      }
  
      #loginWithG:hover {
        cursor: pointer;
      }

      .imgcontainer{
        margin-top: -30px;
      }

      #loginSignIn{
        display: inline-block;
        background: rgb(245, 136, 28);
        color: #444;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: thin solid rgb(245, 136, 28);
      }

      #signUpBttn{
        display: inline-block;
        background: rgb(245, 136, 28);
        color: #444;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: thin solid #888;
      }

      /* Menu timeline */

      #menuTimeline{
        
        width: auto;
        height: 90px;
        margin: 0 auto;
        background-color: #e28743;
        margin-top: 0%;
        box-sizing: border-box;
        align-items: center;

      }

      .tabs{
          font-size: 8px;
          display: flex;
          flex-direction: row;
      }
    
    /* #bodybackground {
        width:10 ;
        height:10;
    } */

}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Tablets adn Ipads (landscape) */
}


@media (min-width: 1281px) {
    /* Desktops and Laptops  */
}
