* {
  margin: 0;
  padding: 0;
}

.paws-image .paws {
  visibility: hidden;
  width: 0;
  height: 0;
}

.modal {
  width: 85%;
  height: 70%;
  background-color: white;
  top: 10%;
  margin: 7%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.modal img {
  margin-top: 5%;
  width: 90%;
}

.modal .paws-logo {
  width: 0%;
  height: 0%;
  visibility: hidden;
}

a p {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 3;
  font-weight: bolder;
  text-align: center;
}

form p {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  font-family: "Secular One", sans-serif;
  color: #2e2c2f;
  text-align: center;
  font-size: 2.18em;
  margin-bottom: 0.5rem;
  border-radius: 15px 15px 0px 0px;
}

.modal p {
  margin-top: -10%;
  padding: 1.5em;
  font-size: 1.2em;
  font-family: "Fredoka", sans-serif;
  text-align: justify;
}



#buttons {
  width: 100%;
  align-self: flex-end;
  justify-content: center;
  display: flex;
}

#sign-up,
#log-in,
#logIn, .btnSingOut {
  margin: 0em 0.94em;
  padding: 0.4em 1em;
  background-color: #8aea92;
  border-radius: 3.12em;
  font-weight: bolder;
  white-space: nowrap;
  font-size: 1.2rem;
  color: #2e2c2f;
  text-align: center;
  cursor: pointer;
}

#sign-up:hover,
#log-in:hover,
#logIn:hover {
  background-color: #119200;
  color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 12vh;
  border-bottom: 3px solid rgb(187, 187, 187);
  position: fixed;
  z-index: 300;
  background-color: white;
}

.no404 {
  margin-top: 250px;
}



.logout,
.logo-mobile {
  height: 90%;
}

.nav-bar a {
  visibility: hidden;
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  position: absolute;
  right: 0;
  left: 0;
}

.container-form {
  width: 85vw;
  height: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  border-radius: 0.62rem;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}



#btn-register {
  margin-top: 5%;
  padding: 0.6em 1em;
  background-color: #8aea92;
  border-radius: 15em;
  font-weight: bolder;
  font-size: 1.1rem;
  color: #2e2c2f;
  text-align: center;
  cursor: pointer;
}

#btn-register:hover {
  background-color: #119200;
  color: white;
}

#btnSignInGoogle {
  margin-top: 5%;
  font-size: 1.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  border-radius: 15em;
  padding: 0.6em 1em;
  cursor: pointer;
}
.p-login{
  font-size: 24px;
}
.form__group-input {
  position: relative;
}

.form__input {
  line-height: 3;
  width: 70%;
  margin-bottom: 8px;
  background: #fff;
  text-align: center;
  border: none;
  border-bottom: 3px outset whitesmoke;
  height: 45px;
  padding: 0 40px 0 40px;
  transition: 0.3s ease all;
}

.form__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.form__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.form__input-error-active {
  display: block;
}

.form__validation-state {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.form__message {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 10px;
  border-radius: 3px;
  display: none;
}

.form__message-active {
  display: block;
}

.form__message p {
  margin: 0;
}

.form__group-btn-send {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__message-success {
  font-size: 12px;
  color: #119200;
  display: none;
}

.form__message-success-active {
  display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */

.form__group-right .form__validation-state {
  color: #1ed12d;
  opacity: 1;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__validation-state {
  color: #bb2929;
  opacity: 1;
}

.form__group-incorrect .form__input {
  border: 2px solid #bb2929;
}

/* footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2e2c2f;
  padding: 0.94rem;
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
}

footer i {
  color: white;
  font-size: 2rem;
  text-shadow: 0px 0px 10px rgba(41, 200, 221, 0.685);
}

.img-construccion {
  position: absolute;
  top: 20%;
  width: 40vw;
}

/* post */
.allPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #2e2c2f;
}

.container-publicar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.container-post{
    width: 300px;
    margin-top: 30%;
}

.clip{
  border: none;
  background-color: white;
}
#post-list {
 
  margin: auto;
  margin-bottom: 100px;
}


.singlePost_container{
  border: 2px solid #c6c6c6;
  border-radius: 10px;
  margin: 30px;
  min-height: 50px;
  width: 300px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.singlePost{
  background: rgba(245, 245, 245, 0.521);
  color: black;
  /* display: inline; */
  border-radius: 10px;
  font-family: 'Mulish', sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

}

.singlePost:hover{
  display: inline;
  cursor: default;
}

.singlePost_header{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 10px;
}

.singlePost_footer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.singlePost_button{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 15px;
}

.singlePost_footer p{
  margin-right: 10px;
}

.btnImage {
  border: none;
} 

.singlePost_img {
  border-radius: 10px;
  width: 280px;
  height: auto;
  margin: 10px;
}

.form__postCreate-text {
  background-color: white;
  color: black;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 300px;
  height: 200px;
  transition: all 0.2s;
}

::placeholder {
  color: black;
  font-size: 1.5em;
}

.form__postCreate-text:focus {
  cursor: text;
  color: black;
  background-color: white;
  border-color: #333333;
}
.option-post{  
    display: flex;
    justify-content: space-between;
}
.attachment{
    display: none;
}

#btn-publicar, .select-post {

  padding: 0.5em 0.3em;
  background-color: yellowgreen;
  border-radius: 15em;
  font-weight: bolder;
  font-size: 0.8rem;
  color: #2e2c2f;
  cursor: pointer;
}
.container-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.profileImg{
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.nameUser{
  font-size: 1em;
}

@media (min-width: 1280px) {
  .main-container {
    display: block;
  }

 /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px double #ffffff;
  }

  body {
    height: 100vh;
    /* background: rgba(105, 109, 237, 0.535);  fondo azul*/
    background: rgba(182, 114, 228, 0.364);
    
    /* background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 3%,
      rgba(1, 50, 1, 0.752) 100%
    ); */
  }
  /* post */
  .container-publicar {
    width: 100%;
    height: 100vh;
  
  }

  .container-post{
    width: 300px;
    margin-top: 15%;
  }

  #btn-publicar, .select-post {
    background-color: #8aea92;
    padding: 0.8em auto;
    border-radius: 15em;
    font-size: 0.9rem;
  }
  .singlePost_button {
    background: transparent;

  }
  .container-profile {
    width: 100vw;
    height: 100vh;
    padding-top: 5%;
    background-color: white;
  }

  .btnImage {
    background-color: transparent;
  }

  .paws-image .paws {
    margin-top: 15vh;
    visibility: visible;
    width: 50vw;
    height: 75vh;
    position: absolute;
    left: 0%;
  }
  .modal {
    margin-top: 15vh;
    width: 40vw;
    background-color: rgba(211, 211, 211, 0.789);
    height: auto;
    position: absolute;
    right: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    border-radius: 3.12rem;
  }
  .modal .paws-logo {
    visibility: visible;
    box-shadow: 0px 0px 16px 16px #8aea92b4;
    background-color: rgba(245, 245, 245, 0.472);
    border-radius: 3.12rem;
    position: absolute;
    top: 5%;
    width: 40%;
    height: 40%;
  }
  .modal .paws {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }
  .modal p {
    margin-top: 40%;
    padding: 1.8rem;
  }
  #buttons {
    margin-bottom: 10%;
  }
  .container-form {
    width: 35vw;
    height: auto;
    margin-bottom: 1rem auto;
    position: absolute;
    top: 25vh;
    right: 10vw;
    box-shadow: 0 3px 3px 10px hwb(0 4% 96%);
    /* box-shadow: 0 3px 10px rgba(241, 239, 239, 0.2); */
    border-radius: 10px;
    /* background-color: white; */
    background-color: rgba(211, 211, 211, 0.789);
  }

  form p{
    background-color: rgba(211, 211, 211, 0.789);
  }

  .form__input {
    background-color: rgba(255, 255, 255, 0.526);  
    border-radius: 20px;  
   
  }
  .container-publicar {
    height: auto;
    width: auto;
  }

  .container-post{
    width: 80vw;
  }

  .form__postCreate-text {
    width: 80vw;
    height: 15vh;
    
  }
  .singlePost_container {
    /* background: rgba(245, 245, 245, 0.787); AQUI MODIFIQUE*/
    background-color: rgba(255, 255, 255, 0.871);
  }

  .singlePost_container:hover {
    background: whitesmoke;
    padding: 5px;
    box-shadow: 0 0 30px rgba(227, 220, 25, 0.623);
    transform: translateY(-1%);
    transition: all 200ms ease-out;
  }

  .clip {
    background-color: transparent;
  }
  
  
.option-post{  
    
    width:25%
}
  #post-list{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap: 1rem;
    margin-top: 5%;
    
  }
  
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }
  .nav-bar div {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    width: 25%;
  }
  .nav-bar a {
    visibility: visible;
    color: #2e2c2f;
  }
  footer {
    visibility: hidden;
  }
}
