* {
    margin: 0;
    font-family: Varela Round, Roboto, Helvetica, sans-serif;
}

nav {
    display: none;
}

body {
    height: 100%;
    margin: 0;
    background-image: url("/images/Tablet.svg");
    background-repeat: no-repeat;
}

h1 {
    font-size: 1.12em;
    margin-bottom: 1.25em;
}

h1 .relevant {
    color: #144576;
    font-size: 1.12em;
}

#root{
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

#viewHero {
    margin: 4em 0;
    grid-column: 2/3;
    align-items: center;
    text-align: center;
    grid-template-rows: 10% auto auto auto auto auto 10%;
}

#viewHero #logoRes {
    width: 60%;
    height: 60%;
}

#viewHero h1 {
    margin: 2em 1em;
}

#viewHero #text-intro {
    font-weight: 500;
    margin: 2em 0;
}

.btn-border {
    width: 12.5em;
    height: 3.25em;
    font-size: 0.74em;
    font-weight: 500;
    color: #04033B;
    border: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #04033B;
    background-color: #fff;
}

.btn-background {
    width: 12.5em;
    height: 3.25em;
    font-size: 0.74em;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #04033B;
}

#viewRegister, #viewLogin {
    margin: 10% 0;
    grid-column: 2/3;
    align-items: center;
    text-align: center;
    grid-template-rows: 20% auto 10%;
}

#viewRegister p, #viewLogin p {
    font-size: 0.87em;
    margin: auto;
}

#logoRes-signUp {
    grid-column: 1/3;
}

.box-form {
    padding: 2em;
    grid-column: 2/3;
    text-align: left;
    background-color: rgba(109, 184, 223, 0.5);
    border-radius: 20px;
}

.box-form .box-input{   
    margin: 0 0 10px 0;
}

.labels {
    font-size: 0.87em;
}

.inputs {
    padding: 0 1.25em 0 1.25em;
    width: 90%;
    height: 2.12em;
    font-size: 0.87em;
    border: none;
    border-radius: 6px;
}

.center-message {
    display: flex;
    flex-direction: row;
    color: red;
    font-weight: 400;
    margin-bottom: 10px;
}

.align-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    text-align: center;
}

#guide-button, #guide-button-signUp{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: auto;
}

#btn-login, #btn-register-signUp {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: auto;
}

#btn-register, #btn-feed{
    grid-row: 2/3;
    grid-column: 2/3;
    margin: auto;
}

#register-google, #signUp-google {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-icon {
    width: 2.12em;
    height: 2.12em;
    margin-top: 0.5em;
}

@media screen and (min-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {

body {
    height: 100%;
    margin: 0;
    background-image: url("/images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: block;
}

.nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    top: 0;
    background: #2388be71;
}
.nav-title {
    margin: 0px 30px;
}
.nav-logo {
    height: 50px;
}
.nav-btn {
    display: inline-block;
    margin: 4px 4px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    align-self: center;
}
.nav-btn-border {
    display: inline-block;
    align-self: center;
    height: 40px;
    margin: 0px 4px;
    padding: 10px;
    color: #04033B;
    border: solid;
    font-weight: 600;
    border-width: 2px;
    border-radius: 6px;
    border-color: #04033B;
    background-color: #fff;
}
.nav-btn-bg {
    display: inline-block;
    align-self: center;
    height: 40px;
    margin: 0px 4px;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #04033B;
    border: none;
    border-radius: 6px;
}

h1 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

h1 .relevant {
    color: #144576;
    font-size: 1.2em;
}

#root{
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#viewHero {
    margin: 4em 0;
    grid-column: 2/3;
    align-items: center;
    text-align: center;
    grid-template-rows: 10% auto auto auto auto auto 10%;
}

#viewHero #logoRes {
    width: 40%;
    height: 40%;
}

#viewHero h1 {
    margin: 2em 1em;
}

#text-intro {
    font-size: 1.2em;
    font-weight: 500;
    margin: 1em 0;
}

.btn-border {
    width: 12.5em;
    height: 3.25em;
    font-size: 1em;
    font-weight: 600;
    color: #04033B;
    border: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: #04033B;
    background-color: #fff;
}

.btn-background {
    width: 12.5em;
    height: 3.25em;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #04033B;
}

#viewRegister, #viewLogin {
    margin: 10% 0;
    grid-column: 2/3;
    align-items: center;
    text-align: center;
    grid-template-rows: 20% auto 10%;
}

#viewRegister p, #viewLogin p {
    font-size: 1em;
    margin: auto;
}

#logoRes-signUp {
    grid-column: 1/3;
    width: 40%;
    height: 40%;
}

.box-form {
    padding: 2em;
    grid-column: 2/3;
    text-align: left;
    background-color: #2388be41;
    border-radius: 20px;
}

.box-form .box-input{   
    margin: 0 0 10px 0;
}

.labels {
    font-size: 1em;
}

.inputs {
    padding: 0 1.25em 0 1.25em;
    width: 90%;
    height: 2.5em;
    font-size: 1em;
    border: none;
    border-radius: 6px;
}

.center-message {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    margin-bottom: 10px;
}

#errorMessage{
    font-size: 1em;
    color: red;

}

.align-buttons {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 40% 60%;
    text-align: center;
}

#guide-button, #guide-button-signUp{
    grid-row: 1/2;
    grid-column: 2/3;
    margin: auto;
}

#btn-login{
    grid-row: 2/3;
    grid-column: 3/4;
    margin: auto;
}

#btn-register-signUp{
    grid-row: 2/3;
    grid-column: 2/3;
    margin: auto;
}

#btn-register, #btn-feed{
    grid-row: 2/3;
    grid-column: 2/3;
    margin: auto;
}

#register-google, #signUp-google {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-icon {
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.5em;
}

}