{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header{
  display: none;
}
.liDelete {
  display: none;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*MENU*/
#menuHtml {
  display: block;
  text-transform: uppercase;
  background-color: #F6E1E8;
  text-align: center;
}
#navMenuLogo{
  width: 100px;
}
ul {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  padding: 30px 20px 30px 20px;
}
#menuHtml a {
  color: rgb(141, 137, 137);
  font-weight: 500;
  text-decoration: none;
}
#menuHtml a:focus {
  color: white;
  font-weight: 550;
}
#menuHtml a:hover {
  color: white;
  font-weight: 550;
}
footer {
  background-color: #F6E1E8;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: rgb(141, 137, 137);
}
/*HOME*/
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.leftColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0px;
}
.rightColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0px;
}
/*columna izquierda*/
.leftColumn{
    border-radius: 100% 20% 100% 20%;
}
.leftColumn h2 {
  font-family: 'Amatic SC', cursive;
  color: #FFA8BE;
  float: left;
  font-size: 100px;
  padding: 0px;
  padding-left: 300px;
  margin: 0px;
}
.leftColumn p {
  font-weight: 500;
  color: rgb(141, 137, 137);
  text-align: center;
  font-size: 15px;
}
#homeImg {
  width: 550px;
}
#nibblesLogo {
  display: block;
  width: 30%;
  margin-bottom: 50px;
}
/*columna derecha*/
.rightColumn p{
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(112, 110, 110);
    font-size: 12px;
    padding-top: 70px;
    margin: 0px;
}
hr {
  padding: 0px;
  height: 0.25px;
  width: 20%;
  background-color: rgb(179, 177, 177);
}
.googleLogo {
  width: 40px;
}
.text-center{
    text-align: center;
    color:fff;
}
/*BOTONES*/
#loginBtn,
#createUserBtn {
  width: 200px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  padding: 6px 20px 6px 20px;
  font-weight: 500;
  text-transform: uppercase;
}
#loginBtn {
  background-color: #FFA8BE;
  color: white;
}
#createUserBtn {
  background-color: #A6CF98;
  color: white;
}
.btn-submit, #btnLogin{
  color: #ffff;
  background-color: #FFA8BE;
  margin: 12px;
  border-radius: 15px;
  border:none;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
}
/*LOGIN*/
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: none;
}
.formLogin :focus-visible {
  border: none;
}
#btnLogin {
  background-color: #FFA8BE;
  color: white;
}
#loginEmail {
  background-color: #A6CF98;
  color: white;
}
#loginPassword {
  background-color: #A6CF98;
  color: white;
}
#loginEmail,
#loginPassword {
  width: 200px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  padding: 6px 20px 6px 20px;
  font-weight: 500;
}
h2 {
  font-family: 'Amatic SC', cursive;
  color: #FFA8BE;
  font-size: 50px;
  padding: 0px;
  text-align: center;
  margin-top: 100px;
}
input:focus {
  outline: none;
}
/*REGISTER*/
#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.with-error {
  border: 1px solid rgb(238, 58, 58);
  color:#000;
}
.error-message-hidden {
  display: none;
}
#register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.formulario{
  background-color: #A6CF98;
  color: white;
  margin:12px;
  border-radius: 20px;
  border: none;
  padding: 8px;
  width: 200px;
}
#error-message-email, #error-message-password{
  margin: 0px;
  font-size: 12px;
}
/* Escritorio extra grande */
@media only screen and (min-width: 992px) {
    #menuHtml {
      padding: 20px 0px 20px 0px;
        height: 87vh;
    }
    #sectionGrid {
      display: grid;
      grid-template-columns: 0.7fr 5fr;
      height: 100%;
    }
    .navDesktop{
      display: inline-block;
    }
    .navMobile{
      display: none;
    }
    .menuBtn{
      display: none;
    }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 100px 0px;
    width: 70%;
    height: 500px;
  }
}
/*TABLETS*/
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .leftColumn {
    display: none;
  }
}
/* TELÉFONOS */
@media only screen and (max-width: 575px) {
  #sectionGrid{
    display: block;
  }
  .navDesktop, #navMenuLogo{
    display: none;
  }
  .navMobile{
    display: none;
  }
  .menuBtn{
    display: inline;
    width: 30px;
    float: right;
    padding: 10px;
  }
  li {
    padding: 10px 20px 10px 20px;
  }
  .leftColumn {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 76px 0px 76px 0px;
  }
  .googleLogo {
    margin: 20px;
  }
  #nibblesLogo {
    width: 40%;
  }
}









